<div class="row">
<div class="column col-md-4" >
    <div class="row">
    <div class="col-md-12" >
      <div class="row">
        <div class="col-md-2">
          <h4> Name: </h4>
        </div>
        <div class="col-md-10">
          <div class="row col-md-9">
            <input class="form-control" type="shearc" placeholder="Search" aria-label="Search" ng-model='name' >
          </div>
          <button type="button" class="btn btn-success col-md-3" ng-click="createCalendar(name)">Create</button>
        </div>
      </div>
    </div>

    <div class="col-md-12 calendars_list shadow">
        <h4>Calendars : </h4>
        <hr>
        <span class="chip col-md-6" data-ng-repeat="item in search.names" ng-click="getCalendarInfos(item.name)"><b>{{item.name}}</b ></span>
            
    </div>
  </div>
</div>



<div  class="column col-md-8"  >
  <div class="col-md-offset-3 col-md-6 shadow" ng-if="showCalendarInfos">
   <h3 class="col-md-offset-2 col-md-7 shadow">Informations</h3> 
    <div class="row col-md-12">
      <strong class="col-md-4">Name: </strong> <div class="col-md-auto" ng-bind="data.name"></div>
      <strong class="col-md-4">Owner: </strong><div ng-bind="data.owner"></div>
      <strong class="col-md-4">number of events: </strong><div ng-bind="data.nbEvents"></div>
      <br/><br/>
    </div>
  <button type="button" class="btn btn-danger col-md-offset-4 col-md-4" ng-click="deleteCalendar(data.name)">Delete</button>
 </div>

<div id= "errorGetCalendarInfos" class="alert alert-danger"  ng-show="showError" ng-bind="errorMessage"></div>
<div id= "succesCreateCalendar" class="alert alert-success"  ng-show="showSuccesCreate" ng-bind="succesMessagecreateCalendar"></div>
<div id= "succesDeleteCalendar" class="alert alert-success"  ng-show="showSuccesDelete" ng-bind="succesMessageDeleteCalendar"></div>

</div>

</div>